html {
    overflow-y: scroll;
}

body {
    color: #aaa;
    background-color: #111;
    font-family: sans-serif;
    margin: 0;
    padding: 0;
    text-align: center;
}

pre, code {
    margin: 0;
}

#header {
    text-align: center;
    background-color: #1a1a1a;
    padding: 10px;
    margin: 0;
    border: 1px solid #666;
}

#header h1, p {
    padding: 0;
    margin: 0;
}

#header h1 {
    color: #ddd;
}

#header p {
    color: #aaa;
}

#content {
    text-align: left;
    color: #aaa;
    max-width: 30%;
    margin-left: 35%;
    margin-top: 3rem;
    padding: 15px;
    border: 1px solid #666;
    background-color: #1a1a1a;
}

@media (max-width: 600px) {
    #content {
	text-align: leftl;
	color: #aaa;
	max-width: 100%;
	margin: 1%;
	padding: 5px;
	border: 1px solid #666;
	background-color: #1a1a1a;
    }
}

pre {
    max-height: 150px;
    overflow-x: hidden;
    overflow-y: scroll;
    background-color: #ffffff0f;
    max-width: fit-content;
    padding: 5px;
    margin: 5px 0;
}

code {
    background-color: #ffffff0f;
}

#footer {
    display: block;
    width: 100%;
    text-align: center;
    padding-top: 5px;
}
